<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- <footer th:fragment="copy">Johnson Controls, Inc. - April 2016</footer> -->
	<footer th:fragment="copy">
		<div class="footer-copyright">
			<div class="container">
				<div class="row" style="text-align: center">
					<div class="col-sm-12" style="text-align: center">
						<p class="text-center">
							&copy; 2016 Johnson Controls, Inc. All rights reserved. <span
								class="mobile-divider"><a
								href="http://www.johnsoncontrols.com/content/us/en/privacy.html"
								target="_blank">Privacy</a> | <a
								href="http://www.johnsoncontrols.com/content/us/en/terms.html"
								target="_blank">Terms of use</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script th:fragment="copy" src="https://code.jquery.com/jquery.js"></script> -->

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- <script th:fragment="copy" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- IE8 HTML5 support  -->
	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


	<script th:fragment="copy" src="/js/bootstrap.min.js"></script>
	<script th:fragment="copy" src="/js/highcharts.js"></script>
	<script th:fragment="copy" src="/js/jquery.highchartTable-min.js"></script>

	<script th:fragment="copy" src="/js/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/lib/jquery.event.drag-2.2.js"></script>
	
	<script th:fragment="copy" src="/js/SlickGrid/slick.core.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/slick.formatters.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/slick.editors.js"></script>
	<!-- <script th:fragment="copy" src="/js/SlickGrid/plugins/slick.rowselectionmodel.js"></script> -->
	<script th:fragment="copy" src="/js/SlickGrid/slick.grid.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/slick.dataview.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/controls/slick.pager.js"></script>
	<script th:fragment="copy" src="/js/SlickGrid/controls/slick.columnpicker.js"></script>
	

	<script th:fragment="copy" src="/js/gridCreation.js"></script>
	<script th:fragment="copy" src="/js/moreSlickGridCode.js"></script>
	<script th:fragment="copy" src="/js/dataFetch.js"></script>

</body>

</html>